extends ../layouts/default

block content
	.container-fluid.main-header-section
		h1.header-name-line Hi, my name is Joe.
		
		div#typed-strings
			each skill in data.skills
				p #{skill.name}

		h1.header-skills-line I'm 
			span#typed.skill
	.container(class="video-grid")
		#portfolio-grid
			each video in data.videos
				+modal(video)
				div(class=video.size === 'Normal' ? 'grid-item' : 'grid-item grid-item-feature')
					.video-info-overlay(data-toggle="modal", data-target='#modal-' + video.videoId)
						.inner-text
							h3 #{video.name}
							h4 #{video.source}
					if video.playPreview
						if video.source === 'Vimeo'
							iframe(	id=video.videoId
											class="Vimeo"
											type="text/html" 
											src="//player.vimeo.com/video/" + video.videoId + "?" +
												"&player_id=" + video.videoId +
												"&loop=1" +
												"&title=0" +
												"&badge=0" +
												"&portrait=0" +
												"&byline=0" +											
												"&automute=1" +
												"&loop=1"
											frameborder="0")
						else if video.source === 'Youtube'
							iframe(	id=video.videoId 
											class="Youtube"
											type="text/html" 
											src="http://www.youtube.com/embed/" + video.videoId +
												"?enablejsapi=1" +
												"&playlist=" + video.videoId +
												"&controls=0" +
												"&modestbranding=1" +
												"&showinfo=0" +
												"&rel=0" +
												"&loop=1" +
												"&playsinline=1"
											frameborder="0")
					else
						.video-thumbnail(style='background-image: url(' + video.thumbnail + ')')

block social
	div.container-fluid.social-container
		div.container
			div.row
				div.col-xs-12.social-header
					h1 I'm social.
					a(href="https://www.youtube.com/user/jjcanham" target="_blank")
						div.social-block.youtube.col-sm-3
							include ../../public/images/YouTube.svg
							h3 YouTube
					a(href="https://vimeo.com/jjcanham" target="_blank")
						div.social-block.vimeo.col-sm-3
							include ../../public/images/Vimeo.svg
							h3 Vimeo
					a(href="https://nz.linkedin.com/in/joe-canham-796407113" target="_blank")
						div.social-block.linkedin.col-sm-3
							include ../../public/images/LinkedIn.svg
							h3 Linkedin
					a(href="https://www.instagram.com/jjcanham" target="_blank")
						div.social-block.instagram.col-sm-3
							include ../../public/images/Instagram.svg
							h3 Instagram
	div.container-fluid.email-container
		div.container
			div.row
				div.col-xs-12.email-header
					h1 Send me mail.
				div.col-md-6.col-md-offset-3
					form#contactform(action="/contact" method="post")
						div.form-group
							label(for="name") Your name
							input.form-control(id="name" name="name" type="text" required)
						div.form-group
							label(for="name") Your email
							input.form-control(id="email" name="email" type="email" required)
						div.form-group
							label(for="message") Your message
							textarea.form-control(id="message" name="message" required)
						div.button-container
							button.btn.btn-block(type="submit") Send
							.spinner
								.double-bounce1
									|   
									.double-bounce2

block footer
	div.container-fluid
		footer.container
			div.row
				div.col-xs-6
					p Copyright &copy; Joe Canham 2016
				div.col-xs-6
					a.iubenda-black.iubenda-embed(href='//www.iubenda.com/privacy-policy/7842792', title='Privacy Policy') Privacy Policy
					script(type='text/javascript').
							(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);
